<!DOCTYPE html>
<html>
<head>
<title><%= full title(yield(:title)) %></title>
<%= stylesheet link tag "application", :media => "all" %>
<%= javascript include tag "application" %>
<%= csrf meta tags %>
</head>
<body>
<%= yield %>
</body>
</html>